@tailwind base;
@tailwind components;
@tailwind utilities;

[data-theme="light"] {
  --Blue: hsl(0, 0%, 98%);
  --Bg: hsl(0, 0%, 98%);
  --Text: hsl(200, 15%, 8%);
  --BlueHover: "hsl(0, 0%, 75%)";
  --Orange: "hsl(25, 100%, 53%)";
}

[data-theme="dark"] {
  --Blue: hsl(209, 23%, 22%);
  --Bg: hsl(207, 26%, 17%);
  --Text: hsl(0, 0%, 98%);
  --BlueHover: "hsl(209, 23%, 50%)";
  --Orange: "hsl(25, 97%, 35%)";
}

body {
  color: var(--Text);
  background-color: var(--Bg);
  min-height: 100vh;
}
